.footer {
    background-color: rgba(144, 212, 198, 1);
    ;
    display: flex;
    flex-direction: column;
    align-items: center;
    .img-social {
       
        width: 2rem;
        display: inline-block;
        margin-right: 3rem;
        
    }
   
    &__logo {
        margin-top: 7.8rem;
        margin-bottom: 7.8rem;
        width: 17rem;
        
    }
    &__menu {
        margin-bottom: 8.8rem;
        li {
            display: inline-block;
            &:not(:last-child){
                margin-right: 3rem;
            }
        }
       
    }
    &__link {
        //font-family: Barlow;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 25px;
        letter-spacing: -0.12857143580913544px;
        text-align: left;
        color:rgba(69, 141, 126, 1);
       
        }
        &__social {
            margin-bottom: 7.8rem;
          
           
    }

    }
