
.grid-4 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: min-content min-content;
}

.col-1 {
    grid-column: 1/2;
    grid-row: 1/2;
}
.col-2 {
    grid-column: 2/3;
    grid-row: 1/2;
}
.col-4 {
    grid-column: 1/2;
    grid-row: 2/3;;

}  
.col-3 {
    grid-column: 2/3;
    grid-row: 2/3;;

} 

@media (max-width: 1440px){
    .grid-4{
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content min-content;

    }
    .col-2{
        grid-column: 1/-1;
        grid-row: 1/2;
    }
    .col-1 {
        grid-column: 1/-1;
        grid-row: 2/3;
    }
    .col-4 {
        grid-column: 1/-1;
        grid-row: 3/4;
    }
    .col-3 {
        grid-column: 1/-1;
        grid-row: 4/5;
    }

}
  
    
